variables:
 DOCKER_HOST: tcp://docker:2375
 DOCKER_TLS_CERTDIR: ""
 DOCKER_DRIVER: overlay2

stages:
 - build
 - package

build:
  stage: build
  image : node:20
  only:
    - main
  script:
    - yarn
    - yarn build
  cache:
    paths:
      - node_modules
  artifacts:
    paths:
    - .next
    - build

package:
  stage: package
  image: docker:latest
 services:
 - docker:dind
  only:
  - main
  dependencies:
  - build
  script:
  - docker build -t $PRIVATE_REGISTRY_URL/$CI_PROJECT_NAME:$CURRENT_IMAGE_VERSION -t $PRIVATE_REGISTRY_URL/$CI_PROJECT_NAME:latest .
  - docker push $PRIVATE_REGISTRY_URL/$CI_PROJECT_NAME:$CURRENT_IMAGE_VERSION
  - docker push $PRIVATE_REGISTRY_URL/$CI_PROJECT_NAME:latest
